In [26]:
import pandas as pd

In [20]:
#Replace with Chapter text
text = """
ಕೇಸರಿ ಹಸಿರು ಬಿಸ್ಕೇಟ್ ಬೇಡ
ಚಾಕ್ಲೇಟ್ ಬೇಡ
ಶಾಲೆಗೆ ಕಳಿಸಮ್ಮ
ಶಾಲೆಗೆ ಹೋಗಿ
ಚಿತ್ರವ ನೋಡಿ
ಹೆಸರನು ಹೇಳುವೆನಮ್ಮ
ಅಕ್ಷರ ಕಲಿಯುತ
ಪದಗಳ ಓದುತ
ಪಾಠವ ಓದುವೆನಮ್ಮ
ಪದ್ಯವ ಕಲಿತು
ರಾಗದಿ ಹಾಡಿ
ಮೆಚ್ಚುಗೆ ಗಳಿಸುವೆನಮ್ಮ
ಪಾಠವ ಓದಿ
ಲೆಕ್ಕವ ಮಾಡಿ
ಜಾಣನೆ ಆಗುವೆನಮ್ಮ
ಪರಿಸರ ನೋಡುತ
ತಿಳಿಯುತ
ಮಾನವ ನಾನಾಗುವೆನಮ್ಮ
ಶಾಲೆ ಎಂಬುದು
ಸರಸ್ವತಿ ಮಂದಿರ
ಅದುವೆ ಬೆಳಕಮ್ಮ
ಈಗಲೇ ನಾನು
ಶಾಲೆಗೆ ಹೋಗುವೆ
ಬೇಗನೆ ನೀ ಕಳಿಸಮ್ಮ
"""

In [21]:
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
for x in text.lower(): 
    if x in punctuations: 
        text = text.replace(x, "")

In [22]:
print(text)

ಕೇಸರಿ ಹಸಿರು ಬಿಸ್ಕೇಟ್ ಬೇಡ
ಚಾಕ್ಲೇಟ್ ಬೇಡ
ಶಾಲೆಗೆ ಕಳಿಸಮ್ಮ
ಶಾಲೆಗೆ ಹೋಗಿ
ಚಿತ್ರವ ನೋಡಿ
ಹೆಸರನು ಹೇಳುವೆನಮ್ಮ
ಅಕ್ಷರ ಕಲಿಯುತ
ಪದಗಳ ಓದುತ
ಪಾಠವ ಓದುವೆನಮ್ಮ
ಪದ್ಯವ ಕಲಿತು
ರಾಗದಿ ಹಾಡಿ
ಮೆಚ್ಚುಗೆ ಗಳಿಸುವೆನಮ್ಮ
ಪಾಠವ ಓದಿ
ಲೆಕ್ಕವ ಮಾಡಿ
ಜಾಣನೆ ಆಗುವೆನಮ್ಮ
ಪರಿಸರ ನೋಡುತ
ತಿಳಿಯುತ
ಮಾನವ ನಾನಾಗುವೆನಮ್ಮ
ಶಾಲೆ ಎಂಬುದು
ಸರಸ್ವತಿ ಮಂದಿರ
ಅದುವೆ ಬೆಳಕಮ್ಮ
ಈಗಲೇ ನಾನು
ಶಾಲೆಗೆ ಹೋಗುವೆ
ಬೇಗನೆ ನೀ ಕಳಿಸಮ್ಮ

In [23]:
text=text.split()

In [24]:
print(text)

['ಕೇಸರಿ', 'ಹಸಿರು', 'ಬಿಸ್ಕೇಟ್', 'ಬೇಡ', 'ಚಾಕ್ಲೇಟ್', 'ಬೇಡ', 'ಶಾಲೆಗೆ', 'ಕಳಿಸಮ್ಮ', 'ಶಾಲೆಗೆ', 'ಹೋಗಿ', 'ಚಿತ್ರವ', 'ನೋಡಿ', 'ಹೆಸರನು', 'ಹೇಳುವೆನಮ್ಮ', 'ಅಕ್ಷರ', 'ಕಲಿಯುತ', 'ಪದಗಳ', 'ಓದುತ', 'ಪಾಠವ', 'ಓದುವೆನಮ್ಮ', 'ಪದ್ಯವ', 'ಕಲಿತು', 'ರಾಗದಿ', 'ಹಾಡಿ', 'ಮೆಚ್ಚುಗೆ', 'ಗಳಿಸುವೆನಮ್ಮ', 'ಪಾಠವ', 'ಓದಿ', 'ಲೆಕ್ಕವ', 'ಮಾಡಿ', 'ಜಾಣನೆ', 'ಆಗುವೆನಮ್ಮ', 'ಪರಿಸರ', 'ನೋಡುತ', 'ತಿಳಿಯುತ', 'ಮಾನವ', 'ನಾನಾಗುವೆನಮ್ಮ', 'ಶಾಲೆ', 'ಎಂಬುದು', 'ಸರಸ್ವತಿ', 'ಮಂದಿರ', 'ಅದುವೆ', 'ಬೆಳಕಮ್ಮ', 'ಈಗಲೇ', 'ನಾನು', 'ಶಾಲೆಗೆ', 'ಹೋಗುವೆ', 'ಬೇಗನೆ', 'ನೀ', 'ಕಳಿಸಮ್ಮ']

In [30]:
len(text)

50

In [27]:
df = pd.DataFrame(text, columns=["Kannada"])

In [32]:
df.head(20)

       Kannada
0        ಕೇಸರಿ
1        ಹಸಿರು
2     ಬಿಸ್ಕೇಟ್
3          ಬೇಡ
4     ಚಾಕ್ಲೇಟ್
5          ಬೇಡ
6       ಶಾಲೆಗೆ
7      ಕಳಿಸಮ್ಮ
8       ಶಾಲೆಗೆ
9         ಹೋಗಿ
10      ಚಿತ್ರವ
11        ನೋಡಿ
12      ಹೆಸರನು
13  ಹೇಳುವೆನಮ್ಮ
14       ಅಕ್ಷರ
15      ಕಲಿಯುತ
16        ಪದಗಳ
17        ಓದುತ
18        ಪಾಠವ
19   ಓದುವೆನಮ್ಮ

In [35]:
df.to_csv('Chapter_6.csv',index=False) #Rename to chapter number