In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(columns=['Number','Kannada','in English','Mispelled Kannada'])

In [3]:
i=1

In [4]:
kan=input('enter the kannada word:')
eng=input('enter its english word:') #If unavailable, press give NA
mis_kan=input('enter the MISSPELLED kannada word:')
df.loc[len(df)] = [i,kan,eng,mis_kan]
i=i+1

enter the kannada word:ದೇಹಕ್ಕೆ
enter its english word:To the body
enter the MISSPELLED kannada word:ದೇಹಕ್ಕ

In [5]:
df.head()

  Number  Kannada   in English Mispelled Kannada
0      1  ದೇಹಕ್ಕೆ  To the body            ದೇಹಕ್ಕ

In [6]:
df.to_csv('Chapter_x.csv',index=False) #Run this in the end