# 1.1. Creating DataFrame

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/kannada basic 1000.csv')

In [3]:
df.head()

   Number Kannada in English
0       1  ಮಾಹಿತಿ         as
1       2    ನಾನು          I
2       3     ಅವರ        his
3       4       ಆ       that
4       5    ಅವರು         he

In [4]:
df.count()

Number        1000
Kannada       1000
in English    1000
dtype: int64

In [5]:
#Splitting dataset into 4 dataFrames
df1,df2,df3,df4 = df[:250], df[250:500], df[500:750], df[750:]

In [6]:
df4.count()

Number        250
Kannada       250
in English    250
dtype: int64

In [7]:
#df1.to_csv('dataset/kannada_kevin.csv',index=False)
#df2.to_csv('dataset/kannada_harshith.csv',index=False)
#df3.to_csv('dataset/kannada_kenneth.csv',index=False)
#df4.to_csv('dataset/kannada_jason.csv',index=False)

In [8]:
df5=pd.read_csv('dataset/kannada_kevin.csv')

In [9]:
df5.head()

   Number Kannada in English
0       1  ಮಾಹಿತಿ         as
1       2    ನಾನು          I
2       3     ಅವರ        his
3       4       ಆ       that
4       5    ಅವರು         he

In [ ]:
l = list()

In [ ]:
for i in range(len(df5)):
    print(df5['Kannada'][i:i+1])
    print(df5['in English'][i:i+1])
    a=input('Enter the Kannada mispelled word: ')
    l.append(a)

In [ ]:
df5["Mispelled Kannada"] = l

In [ ]:
df5.to_csv('dataset/kannada_kevin_mispelled.csv',index=False)

In [10]:
df6=pd.read_csv('dataset/kannada_kevin_mispelled.csv')
df7=pd.read_csv('dataset/kannada_harshith_mispelled.csv')
df8=pd.read_csv('dataset/kannada_kenneth_mispelled.csv')
df9=pd.read_csv('dataset/kannada_jason_mispelled.csv')

In [11]:
df6.head()

   Number Kannada in English Mispelled Kannada
0       1  ಮಾಹಿತಿ         as             ಮಾಹಿತ
1       2    ನಾನು          I               ನಾನ
2       3     ಅವರ        his              ಅವರು
3       4       ಆ       that                ಆ್
4       5    ಅವರು         he               ಅವರ

In [12]:
df10 = pd.concat([df6, df7, df8, df9])

In [13]:
df10 = df10.reset_index(drop=True)

In [14]:
df10.count()

Number               1000
Kannada              1000
in English           1000
Mispelled Kannada    1000
dtype: int64

In [15]:
df10.to_csv('dataset/kannada_misspelled_1000.csv',index=False)