# SequenceMatcher

In [1]:
import pandas as pd
from difflib import SequenceMatcher

In [2]:
df = pd.read_csv("dataset/kannada_misspelled_1000.csv")

In [3]:
df.tail(20)

     Number         Kannada in English Mispelled Kannada
980     981           ಅಂಗಡಿ       shop              ಅಂಗಡ
981     982          ಏರಿಕೆಯ    stretch             ಏರಿಕೆ
982     983          ಎಸೆಯಲು      throw           ಎಸೆಯಲುಾ
983     984            ಶೈನ್      shine             ಶೈನ್ಾ
984     985           ಆಸ್ತಿ   property            ಆಸ್ತಿಾ
985     986           ಕಾಲಮ್     column            ಕಾಲಮ್ಾ
986     987             ಅಣು   molecule                ಅಣ
987     988           ಆಯ್ಕೆ     select              ಆಯ್ಕ
988     989           ತಪ್ಪು      wrong              ತಪ್ಪ
989     990            ಬೂದು       gray               ಬೂದ
990     991           ಮತ್ತೆ     repeat              ಮತ್ತ
991     992  ಅಗತ್ಯವಿರುತ್ತದೆ    require   ಅಗತ್ಯವಿರುತ್ತದೆಾ
992     993           ವಿಶಾಲ      broad              ವಿಶಾ
993     994           ತಯಾರು    prepare              ತಯಾರ
994     995           ಉಪ್ಪು       salt              ಉಪ್ಪ
995     996            ಮೂಗು       nose               ಮೂಗ
996     997          ಬಹುವಚನ     plural             ಬಹುವಚ
997     998             ಕೋಪ      anger                ಕೋ
998     999           ಹಕ್ಕು      claim              ಹಕ್ಕ
999    1000            ಖಂಡದ  continent               ಖಂಡ

In [4]:
df.count()

Number               1000
Kannada              1000
in English           1000
Mispelled Kannada    1000
dtype: int64

In [5]:
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [6]:
userinput=input("enter the word :")

enter the word :

In [7]:
s=[]
for i in range(len(df)):
    s.append(similar(df.loc[i,'Kannada'],userinput))

In [8]:
print(s.index(max(s)))

0

In [9]:
print("correct spelling is :"+df.loc[s.index(max(s)),'Kannada'])

correct spelling is :ಮಾಹಿತಿ

In [10]:
arr_kan = df['Mispelled Kannada']

In [11]:
lens =[]

In [12]:
for j in arr_kan:
    s=[]
    for i in range(len(df)):
        s.append(similar(df.loc[i,'Kannada'],j))
    lens.append(s.index(max(s)))

In [14]:
print(lens[100])

100

In [18]:
count = 0

In [20]:
for i in range(1000):
    if((df.loc[i,'Kannada'])==(df.loc[lens[i],'Kannada'])):
        count=count+1

In [27]:
print("Accuracy =",count*100/1000,"%")

Accuracy = 86.8 %